# Ignore virtual environment
.venv/
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore large data files
data/
*.csv
*.pkl

# Ignore IDE files
.idea/
.vscode/

# Ignore Heroku files
*.sqlite3